.details-layout {
  display: flex;
  gap: 24px;
}

.details-sidebar {
  width: 250px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details-sidebar button {
  text-align: left;
}

.details-content {
  flex: 1;

  background: white;

  padding: 20px;

  border-radius: 8px;
}


.employee-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.employee-selector {
  display: flex;
  align-items: center;
  gap: 12px;
}

.employee-selector select {
  min-width: 320px;
}